image: fedora:latest
include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

stages:
  - check
  - build
  - deploy

variables:
    BUNDLE: "org.gnome.World.Secrets.Devel.flatpak"
    MANIFEST_PATH: "flatpak/org.gnome.World.Secrets.Devel.json"
    FLATPAK_MODULE: "secrets"
    APP_ID: "org.gnome.World.Secrets.Devel"
    RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"

.flatpak_cache_template: &flatpak_cache
    cache:
        key: "flatpak"
        paths:
          - .flatpak-builder/cache/
          - _build/target/

flatpak_x86_64:
    extends: .flatpak@x86_64
    stage: build

flatpak_aarch64:
    extends: .flatpak@aarch64
    stage: build
    allow_failure: true

publish-nightly@x86_64:
  extends: '.publish_nightly'
  needs: ['flatpak_x86_64']

publish-nightly@aarch64:
  extends: '.publish_nightly'
  needs: ['flatpak_aarch64']
  allow_failure: true

codespell:
  stage: check
  script:
    - dnf install -y codespell
    - codespell -S "*.png,*.po,.git,*.jpg,eff_large_wordlist.txt,.mypy_cache,_build" -f

flake8:
  stage: check
  script:
    - dnf install -y python3-flake8 pip
    - pip install pyotp
    - flake8 --max-line-length=88 --ignore=E402,W503 --show-source gsecrets

mypy:
  stage: check
  script:
    - dnf install -y pip
    - pip install mypy pyotp
    - mypy --ignore-missing-imports --disallow-incomplete-defs --explicit-package-bases gsecrets

pylint:
  stage: check
  script:
    - dnf install -y libadwaita-devel gtk4-devel python3-gobject-devel python3-pyotp python3-zxcvbn python3-validators git pip python3-yubico
    - pip install git+https://github.com/libkeepass/pykeepass pylint
    - mv gsecrets/const.py.in gsecrets/const.py  # We need a dummy file
    - pylint --rcfile=.pylintrc gsecrets
