keepassgtk/__pycache__
data/create_database.ui~
data/create_database_success.ui~
data/entries_listbox.ui~
data/main_headerbar.ui~
data/override_dialog.ui~
data/unlock_database.ui~
data/#unlock_database.ui#
data/unlocked_database.ui~
data/#unlocked_database.ui#
data/#entries_listbox.ui#
data/about_dialog.ui~
data/#about_dialog.ui#
data/save_dialog.ui~
data/#save_dialog.ui#
data/database_action_overlay.ui~
data/#database_action_overlay.ui#
data/settings_dialog.ui~
data/#settings_dialog.ui#
data/#main_window.ui#
data/main_window.ui~
data/quit_dialog.ui~
data/#quit_dialog.ui#
data/#entry_property_row.ui#
data/entry_property_row.ui~
data/entry_page.ui~
data/group_page.ui~
_build
.buildconfig
.vscode
tags.rOfNyA