src/__pycache__
ui/create_database.ui~
ui/create_database_success.ui~
ui/entries_listbox.ui~
ui/main_headerbar.ui~
ui/override_dialog.ui~
ui/unlock_database.ui~
ui/#unlock_database.ui#
ui/#entries_listbox.ui#
.vscode
