keepassgtk/__pycache__
data/create_database.ui~
data/create_database_success.ui~
data/entries_listbox.ui~
data/main_headerbar.ui~
data/override_dialog.ui~
data/unlock_database.ui~
data/#unlock_database.ui#
data/unlocked_database.ui~
data/#unlocked_database.ui#
data/#entries_listbox.ui#
data/about_dialog.ui~
data/#about_dialog.ui#
data/save_dialog.ui~
data/#save_dialog.ui#
data/database_action_overlay.ui~
data/#database_action_overlay.ui#
data/settings_dialog.ui~
data/#settings_dialog.ui#
_build
.buildconfig
.vscode
