#PathbarButton {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 0;
}

#PathbarButton:hover {
	box-shadow: none;
	transition-property: none;
	border-top: none;
	box-shadow: 0px -2px 0px #4a90d9 inset;
	border-radius: 0px;
	background: transparent;
}

.PathbarButtonActive {
	box-shadow: none;
	transition-property: none;
	border-top: none;
	box-shadow: 0px -2px 0px #4a90d9 inset;
	border-radius: 0px;
	background: transparent;
}

.NotifyRevealer {
	background-color: #555;
	color: white;
	font-size: 1rem;
	text-shadow: 1px 1px #2a2a2a;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	min-width: 10px;
	padding: 2px 5px 1px;
}