#PathbarButton, #PathbarButtonDynamic {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 0;
	transition: 0.3s;
}

#PathbarButton:hover,#PathbarButtonDynamic:hover {
	box-shadow: none;
	transition-property: none;
	border-top: none;
	box-shadow: 0px -2px 0px alpha(currentColor,0.5) inset;
	transition: box-shadow 0.3s;
	border-radius: 0px;
	background: transparent;
}

#GroupRow, #EntryRow {
	box-shadow: 0px 1px 0px alpha(currentColor,0.1) inset;
}

#entry_subtitle_label {
	color: alpha(currentColor,0.5);
}

#empty_group_image {
	color: alpha(currentColor,0.5);
}

#empty_group_label {
	color: alpha(currentColor,0.5); 
}

.SeperatorLabel {
	color: alpha(currentColor,0.5);
}

.SeperatorLabelSelectedMode {
	color: alpha(white,0.8);
}

.PathbarButtonActive {
	box-shadow: none;
	transition-property: none;
	border-top: none;
	box-shadow: 0px -2px 0px @theme_selected_bg_color inset;
	border-radius: 0px;
	background: transparent;
}

.PathbarButtonActive:hover {
	color: @theme_selected_bg_color;
}

.NotifyRevealer {
	background-color: @theme_unfocused_fg_color;
	color: white;
	font-size: 1rem;
	text-shadow: 1px 1px #2a2a2a;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	min-width: 10px;
	padding: 2px 5px 1px;
}

#NoneColorButton {
  background-color: #deddda;
  border: 3px solid #deddda;
}

#BlueColorButton {
  background-color: #1c71d8;
  border: 3px solid #1c71d8;
}

#GreenColorButton {
  background-color: #2ec27e;
  border: 3px solid #2ec27e;
}

#OrangeColorButton {
  background-color: #e66100;
  border: 3px solid #e66100;
}

#RedColorButton {
  background-color: #c01c28;
  border: 3px solid #c01c28;
}

#PurpleColorButton {
  background-color: #813d9c;
  border: 3px solid #813d9c;
}

#BrownColorButton {
  background-color: #865e3c;
  border: 3px solid #865e3c;
}
