/* Pathbar button styles */

#PathbarButton {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 0;
	transition: 0.3s;
}

#PathbarButton:hover {
	box-shadow: none;
	transition-property: none;
	border-top: none;
	box-shadow: 0px -2px 0px alpha(currentColor,0.5) inset;
	transition: box-shadow 0.3s;
	border-radius: 0px;
	background: transparent;
}

.PathbarButtonActive {
	box-shadow: none;
	transition-property: none;
	border-top: none;
	box-shadow: 0px -2px 0px @accent_bg_color inset;
	border-radius: 0px;
	background: transparent;
}

#PathbarButton:hover {
	color: @accent_color;
}

/* Entry and group browser page styles */

#BrowserListBox:not(.small) {
	margin: 36px 0 36px 0;
}

#BrowserListBox.small row {
	border-radius: 0px;
}

#BGPlatform {
	background-color: @theme_bg_color;
}

/* Entry color button styles */

.NoneColorButton {
	background: #deddda;
	border: 0px solid;
}

.BlueColorButton {
	background: #1c71d8;
	border: 0px solid;
}

.GreenColorButton {
	background: #2ec27e;
	border: 0px solid;
}

.YellowColorButton {
	background-color: #f6d32d;
}

.OrangeColorButton {
	background: #e66100;
	border: 0px solid;
}

.RedColorButton {
	background: #c01c28;
	border: 0px solid;
}

.PurpleColorButton {
	background: #813d9c;
	border: 0px solid;
}

.BrownColorButton {
	background: #865e3c;
	border: 0px solid;
}

.ColorButton {
    border-radius: 25px;
}

.ColorButton:hover {
	box-shadow: none;
	opacity: 0.5;
}

.NoneColorButtonList {
	background-color: #deddda;
}

.BlueColorButtonList {
	background-color: #1c71d8;
}

.GreenColorButtonList {
	background-color: #2ec27e;
}

.YellowColorButtonList {
	background-color: #f6d32d;
}

.OrangeColorButtonList {
	background-color: #e66100;
}

.RedColorButtonList {
	background-color: #c01c28;
}

.PurpleColorButtonList {
	background-color: #813d9c;
}

.BrownColorButtonList {
	background-color: #865e3c;
}

.BrightIcon {
	color: white;
}

.DarkIcon {
	color: black;
}

.circular-icon {
	border-radius: 32px;
}

/* Entry icon styles */

.EntryIconFlowBox > flowboxchild {
	border-radius: 8px;
}

/* Password strength level bar styles */

levelbar block.weak {
	background-color: #f66151;
	border-style: solid;
	border-color: black;
}

levelbar block.medium {
	background-color: #ffd096;
	border-style: solid;
	border-color: black;
}

levelbar block.strong {
	background-color: #a4dfb9;
	border-style: solid;
	border-color: black;
}

levelbar block.secure {
	background-color: #33d17a;
	border-style: solid;
	border-color: black;
}

/* This is needed to make the corners of the notes field rounded. */
.codeview {
	border-radius: 8px;
}

.codeview > text {
	background: none;
	border-radius: 8px;
	border: 1px solid @borders;
}

.italic-subtitle label.subtitle, .italic-title label.title {
	font-style: italic;
}

.otp-action-row label.title {
	font-size: 24px;
}
