/* Pathbar button styles */

#PathbarButton, #PathbarButtonDynamic {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 0;
	transition: 0.3s;
}

#PathbarButton:hover,#PathbarButtonDynamic:hover {
	box-shadow: none;
	transition-property: none;
	border-top: none;
	box-shadow: 0px -2px 0px alpha(currentColor,0.5) inset;
	transition: box-shadow 0.3s;
	border-radius: 0px;
	background: transparent;
}

 .SeperatorLabel {
	color: alpha(currentColor,0.5);
}

 .SeperatorLabelSelectedMode {
	color: alpha(white,0.8);
}

.PathbarButtonActive {
	box-shadow: none;
	transition-property: none;
	border-top: none;
	box-shadow: 0px -2px 0px @theme_selected_bg_color inset;
	border-radius: 0px;
	background: transparent;
}

.PathbarButtonActive:hover {
	color: @theme_selected_bg_color;
}

/* Entry and group browser page styles */

clamp.medium > #BrowserListBox, clamp.large > #BrowserListBox {
	/* Margins are also hardcoded on search.py _show_results() */
	margin: 18px 0 18px 0;
	border: 1px solid @borders;
	border-radius: 8px;
	box-shadow: 0px 4px 5px 0px alpha(@borders,0.5);
}

clamp.small > #BrowserListBox {
	border-bottom: 1px solid @borders;
	box-shadow: 0px 0px 5px 0px alpha(@borders,0.5);
}

#PropertiesListBox, #BGPlatform {
	background-color: @theme_bg_color;
}

.row {
	border-bottom: solid 1px alpha(@borders,0.5);
}

#entry_subtitle_label {
	color: alpha(currentColor,0.5);
}

#empty_group_image {
	color: alpha(currentColor,0.5);
}

#empty_group_label {
	color: alpha(currentColor,0.5);
}

/* Entry color button styles */

.NoneColorButton {
	background: #deddda;
	border: 0px solid;
}

.BlueColorButton {
	background: #1c71d8;
	border: 0px solid;
}

.GreenColorButton {
	background: #2ec27e;
	border: 0px solid;
}

.OrangeColorButton {
	background: #e66100;
	border: 0px solid;
}

.RedColorButton {
	background: #c01c28;
	border: 0px solid;
}

.PurpleColorButton {
	background: #813d9c;
	border: 0px solid;
}

.BrownColorButton {
	background: #865e3c;
	border: 0px solid;
}

.ColorButton {
    border-radius: 25px;
}

.ColorButton:hover {
	box-shadow: none;
	opacity: 0.5;
}

.ColorButton:selected {
	box-shadow: 0px 0px 4px 1px alpha(@borders, 0.5);
}

.NoneColorButtonList {
	background-color: #deddda;
}

.BlueColorButtonList {
	background-color: #1c71d8;
}

.GreenColorButtonList {
	background-color: #2ec27e;
}

.OrangeColorButtonList {
	background-color: #e66100;
}

.RedColorButtonList {
	background-color: #c01c28;
}

.PurpleColorButtonList {
	background-color: #813d9c;
}

.BrownColorButtonList {
	background-color: #865e3c;
}

.BrightIcon {
	color: white;
}

.DarkIcon {
	color: black;
}

.circular-icon {
	border-radius: 32px;
}

/* Entry icon styles */

.EntryIconButton {
	box-shadow: none;
	border-radius: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: solid 1px @theme_bg_color;
}

.EntryIconButton:checked {
	background: @theme_selected_bg_color;
	color: @theme_base_color;
}

#EntryIconScrolled {
	border-radius: 3px;
	background: @theme_base_color;
}

/* Password strength level bar styles */

levelbar block.weak {
	background-color: #f66151;
	border-style: solid;
	border-color: black;
}

levelbar block.medium {
	background-color: #ffd096;
	border-style: solid;
	border-color: black;
}

levelbar block.strong {
	background-color: #a4dfb9;
	border-style: solid;
	border-color: black;
}

levelbar block.secure {
	background-color: #33d17a;
	border-style: solid;
	border-color: black;
}

/* Password Entry */

.passwordEntry {
    font-family: code;
}

/* Devel profile pathbar separator labels */

.devel .SeperatorLabel {
	color: alpha(@theme_fg_color, 0.5);
}

.devel .SeperatorLabelSelectedMode {
	color: alpha(white,0.8);
}

/* Link Widgets */

#LinkLabel {
	color: @theme_selected_bg_color;
}

/* Error InfoBar */
infobar label.main {
    font-weight: bold;
}

infobar label.secondary {
    font-size: small;
}

/* TODO This is a hack to make a button circular */
/* there is a gtk3 bug making the circular class*/
/* turn the icon black. */
.RoundButton {
	border-radius: 25px;
}

/* This is needed to make the corners of the notes field rounded. */
.codeview {
	border-radius: 8px;
}

.codeview > text {
	background: none;
	border-radius: 8px;
	border: 1px solid @borders
}

.properties_listbox > row {
	margin-bottom: 12px;
}
