:root {
  --accent-bg-color: var(--accent-purple);
}

/* Entry color button styles */

button.colored {
  border-radius: 25px;
  --accent-color: oklab(from var(--accent-bg-color) var(--standalone-color-oklab));
}

image.colored {
  border-radius: 32px;
  background: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.NoneColorButton {
  --accent-bg-color: color-mix(in srgb, currentColor 15%, transparent);
  --accent-fg-color: inherit;
}

.BlueColorButton {
  --accent-bg-color: var(--blue-4);
  --accent-fg-color: var(--light-1);
}

.GreenColorButton {
  --accent-bg-color: var(--green-4);
  --accent-fg-color: var(--light-1);
}

.YellowColorButton {
  --accent-bg-color: var(--yellow-4);
  --accent-fg-color: rgb(0 0 0 / 80%);
}

.OrangeColorButton {
  --accent-bg-color: var(--orange-4);
  --accent-fg-color: var(--light-1);
}

.RedColorButton {
  --accent-bg-color: var(--red-4);
  --accent-fg-color: var(--light-1);
}

.PurpleColorButton {
  --accent-bg-color: var(--purple-4);
  --accent-fg-color: var(--light-1);
}

.BrownColorButton {
  --accent-bg-color: var(--brown-4);
  --accent-fg-color: var(--light-1);
}

/* Password strength level bar styles */

levelbar block.insecure, levelbar block.low, levelbar block.high, levelbar block.full {
  background-color: var(--red-2);
}

levelbar block.weak {
  background-color: var(--orange-2);
}

levelbar block.medium {
  background-color: var(--yellow-2);
}

levelbar block.strong {
  background-color: var(--green-2);
}

levelbar block.secure {
  background-color: var(--green-4);
}

toolbarview scrolledwindow.card undershoot.top,
toolbarview scrolledwindow.card undershoot.bottom {
  box-shadow: none;
  background: none;
}

textview {
  padding: 6px;
}

.italic-subtitle label.subtitle, .italic-title label.title {
  font-style: italic;
}

.strikethrough label.subtitle, .strikethrough label.title {
  text-decoration: line-through;
}

.otp-action-row label.title {
  font-size: 24px;
}

.icon-flowbox flowboxchild {
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.icon-flowbox flowboxchild:hover {
  background: color-mix(in srgb, currentColor 7%, transparent);
}

.icon-flowbox flowboxchild:active {
  background: color-mix(in srgb, currentColor 16%, transparent);
}

.icon-flowbox flowboxchild:selected {
  background: color-mix(in srgb, currentColor 10%, transparent);
}

.icon-flowbox flowboxchild:selected:active {
  background: color-mix(in srgb, currentColor 13%, transparent);
}

.icon-flowbox flowboxchild:selected:hover {
  background: color-mix(in srgb, currentColor 19%, transparent);
}
