.BlueColorButton {
  --accent-bg-color: var(--blue-5);
}

.GreenColorButton {
  --accent-bg-color: var(--green-5);
}

.YellowColorButton {
  --accent-bg-color: var(--yellow-5);
  --accent-fg-color: #2e2102;
}

.OrangeColorButton {
  --accent-bg-color: var(--orange-5);
}

.RedColorButton {
  --accent-bg-color: var(--red-5);
}

.PurpleColorButton {
  --accent-bg-color: var(--purple-5);
}

.BrownColorButton {
  --accent-bg-color: var(--brown-5);
}
