@define-color accent_color @purple_1;

.NoneColorButton {
  background: @light_4;
  color: #262626;
}

.BlueColorButton {
  background: @blue_5;
}

.GreenColorButton {
  background: @green_5;
}

.YellowColorButton {
  background-color: @yellow_5;
  color: #2e2102;
}

.OrangeColorButton {
  background: @orange_5;
}

.RedColorButton {
  background: @red_5;
}

.PurpleColorButton {
  background: @purple_5;
}

.BrownColorButton {
  background: @brown_5;
}
