:root {
  --accent-color: var(--purple-5);
  --accent-bg-color: var(--purple-3);
}

/* Entry color button styles */

button.NoneColorButton {
  --accent-bg-color: var(--light-3);
  --accent-color: var(--light-3);
  --accent-fg-color: #2c2c2c;
}
image.NoneColorButton {
  background: var(--light-3);
  color: #2c2c2c;
}

button.BlueColorButton {
  --accent-bg-color: var(--blue-4);
  --accent-color: var(--blue-4);
  --accent-fg-color: var(--light-1);
}
image.BlueColorButton {
  background: var(--blue-4);
  color: var(--light-1);
}

button.GreenColorButton {
  --accent-bg-color: var(--green-4);
  --accent-color: var(--green-4);
  --accent-fg-color: var(--light-1);
}
image.GreenColorButton {
  background: var(--green-4);
  color: var(--light-1);
}

button.YellowColorButton {
  --accent-bg-color: var(--yellow-4);
  --accent-color: var(--yellow-4);
  --accent-fg-color: #312703;
}
image.YellowColorButton {
  background: var(--yellow-4);
  color: #312703;
}

button.OrangeColorButton {
  --accent-bg-color: var(--orange-4);
  --accent-color: var(--orange-4);
  --accent-fg-color: var(--light-1);
}
image.OrangeColorButton {
  background: var(--orange-4);
  color: var(--light-1);
}

button.RedColorButton {
  --accent-bg-color: var(--red-4);
  --accent-color: var(--red-4);
  --accent-fg-color: var(--light-1);
}
image.RedColorButton {
  background: var(--red-4);
  color: var(--light-1);
}

button.PurpleColorButton {
  --accent-bg-color: var(--purple-4);
  --accent-color: var(--purple-4);
  --accent-fg-color: var(--light-1);
}
image.PurpleColorButton {
  background: var(--purple-4);
  color: var(--light-1);
}

button.BrownColorButton {
  --accent-bg-color: var(--brown-4);
  --accent-color: var(--brown-4);
  --accent-fg-color: var(--light-1);
}
image.BrownColorButton {
  background: var(--brown-4);
  color: var(--light-1);
}

.color-button {
  border-radius: 25px;
}

.circular-icon {
  border-radius: 32px;
}

/* Password strength level bar styles */

levelbar block.insecure, levelbar block.low, levelbar block.high, levelbar block.full {
  background-color: var(--red-2);
}

levelbar block.weak {
  background-color: var(--orange-2);
}

levelbar block.medium {
  background-color: var(--yellow-2);
}

levelbar block.strong {
  background-color: var(--green-2);
}

levelbar block.secure {
  background-color: var(--green-4);
}

toolbarview scrolledwindow.card undershoot.top,
toolbarview scrolledwindow.card undershoot.bottom {
  box-shadow: none;
  background: none;
}

textview {
  padding: 6px;
}

.italic-subtitle label.subtitle, .italic-title label.title {
  font-style: italic;
}

.strikethrough label.subtitle, .strikethrough label.title {
  text-decoration: line-through;
}

.otp-action-row label.title {
  font-size: 24px;
}

.icon-flowbox flowboxchild {
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.icon-flowbox flowboxchild:hover {
  background: alpha(currentColor, .07);
}

.icon-flowbox flowboxchild:active {
  background: alpha(currentColor, .16);
}

.icon-flowbox flowboxchild:selected {
  background: alpha(currentColor, .1);
}

.icon-flowbox flowboxchild:selected:active {
  background: alpha(currentColor, .13);
}

.icon-flowbox flowboxchild:selected:hover {
  background: alpha(currentColor, .19);
}
