:root {
  --accent-color: var(--purple-1);
}

.NoneColorButton {
  background: var(--light-4);
  color: #262626;
}

.BlueColorButton {
  background: var(--blue-5);
}

.GreenColorButton {
  background: var(--green-5);
}

.YellowColorButton {
  background-color: var(--yellow-5);
  color: #2e2102;
}

.OrangeColorButton {
  background: var(--orange-5);
}

.RedColorButton {
  background: var(--red-5);
}

.PurpleColorButton {
  background: var(--purple-5);
}

.BrownColorButton {
  background: var(--brown-5);
}
