@define-color accent_bg_color @purple_3;
@define-color accent_color @purple_5;

/* Pathbar button styles */

#PathbarButton {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0;
  border-radius: 0px;
  transition: 0.3s;
  background: transparent;
}

#PathbarButton:hover {
  color: @accent_color;
  box-shadow: 0px -3px 0px @accent_color inset;
  transition: box-shadow 0.3s;
}

.PathbarButtonActive {
  box-shadow: 0px -2px 0px @accent_color inset;
}

/* Entry and group browser page styles */

#BrowserListBox:not(.small) {
  margin: 36px 0 36px 0;
}

#BrowserListBox.small {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Entry color button styles */

.NoneColorButton {
  background: @light_3;
  color: #2c2c2c;
}

.BlueColorButton {
  background: @blue_4;
  color: @light_1;
}

.GreenColorButton {
  background: @green_4;
  color: @light_1;
}

.YellowColorButton {
  background-color: @yellow_4;
  color: #312703;
}

.OrangeColorButton {
  background: @orange_4;
  color: @light_1;
}

.RedColorButton {
  background: @red_4;
  color: @light_1;
}

.PurpleColorButton {
  background: @purple_4;
  color: @light_1;
}

.BrownColorButton {
  background: @brown_4;
  color: @light_1;
}

.ColorButton {
    border-radius: 25px;
}

.ColorButton:hover {
  opacity: 0.5;
}

.circular-icon {
  border-radius: 32px;
}

/* Password strength level bar styles */

levelbar block.insecure, levelbar block.low, levelbar block.high, levelbar block.full {
  background-color: @red_2;
}

levelbar block.weak {
  background-color: @orange_2;
}

levelbar block.medium {
  background-color: @yellow_2;
}

levelbar block.strong {
  background-color: @green_2;
}

levelbar block.secure {
  background-color: @green_4;
}

scrolledwindow.entry {
  background-color: alpha(currentColor, .1);
  border-radius: 6px;
}

scrolledwindow.entry:focus-within {
  outline-color: alpha(@accent_color, .5);
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
}

scrolledwindow.entry textview,
scrolledwindow.entry textview text {
  background: none;
  color: inherit;
}

textview {
  padding: 6px;
}

.italic-subtitle label.subtitle, .italic-title label.title {
  font-style: italic;
}

.strikethrough label.subtitle, .strikethrough label.title {
  text-decoration: line-through;
}

.otp-action-row label.title {
  font-size: 24px;
}

.icon-flowbox flowboxchild {
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.icon-flowbox flowboxchild:hover {
  background: alpha(currentColor, .07);
}

.icon-flowbox flowboxchild:active {
  background: alpha(currentColor, .16);
}

.icon-flowbox flowboxchild:selected {
  background: alpha(currentColor, .1);
}

.icon-flowbox flowboxchild:selected:active {
  background: alpha(currentColor, .13);
}

.icon-flowbox flowboxchild:selected:hover {
  background: alpha(currentColor, .19);
}
